<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
           
           <bean id="comp" class="com.bytecoder.autowire.bytype.Company" autowire="byType">
          <!--  <property name="product" ref="product2"></property>    -->      
            </bean>
            
            <bean id="product2" class="com.bytecoder.autowire.bytype.Product" primary="true">
            <property name="productCode" value="5152"></property>
            <property name="productName" value="Desktop Application"></property>
            </bean>
            
            <bean id="product1" class="com.bytecoder.autowire.bytype.Product">
            <property name="productCode" value="5156"></property>
            <property name="productName" value="Web Application"></property>
            </bean>
</beans>