<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="coach" class="coremodule.setterinjection7.Map.Coaching">
		<property name="cid" value="77668"></property>
		<property name="cname" value="Bytecoder"></property>
		<property name="courses">
			<map>
				<entry key="101" value="AI"></entry>
				<entry key="102" value="Java"></entry>
				<entry key="103" value="Spring"></entry>
			</map>



		</property>

	</bean>
</beans>