<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

 
           <bean id="comp" class="com.bytecoder.autowireanno.bytype.Company">     
            </bean>
            
            <!-- <bean id="product2" class="com.bytecoder.autowireanno.bytype.Product">
            <property name="productCode" value="5152"></property>
            <property name="productName" value="Desktop Application"></property>
            </bean>
            
            <bean id="product1" class="com.bytecoder.autowireanno.bytype.Product">
            <property name="productCode" value="5156"></property>
            <property name="productName" value="Web Application"></property>
            </bean>
            
              <bean id="product3" class="com.bytecoder.autowireanno.bytype.Product">
            <property name="productCode" value="5152"></property>
            <property name="productName" value="apps"></property>
            </bean> -->
</beans>